/* Welcome Bar Styles ----------------------------- */
.welcomeBarContainer {
	background-color:#4EAAD1;
	height:25px;
	width:100%}

.welcomeBar {
	padding:0 10 0 10;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF}
	
	
	
/* Navigation Styles -------------------------------- */
.leftNav {
	background-color:E4F0F9;
	width:145px}

.leftNavMainContainer {
	margin-left:3px;
	width:137px}

.leftNavSubContainer {
	position:relative;
	top:0px;
	left:7px;
	width:130px}

	
/* Link Styles -------------------------------------- */
a.welcomeBar:link {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:ffffff; text-decoration:underline}
a.welcomeBar:visited {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:ffffff; text-decoration:underline}
a.welcomeBar:active {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:ffffff; text-decoration:underline}
a.welcomeBar:hover {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:F38F38; text-decoration:underline}

a.leftNavMain:link {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:2D3359; text-decoration:underline}
a.leftNavMain:visited {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:2D3359; text-decoration:underline}
a.leftNavMain:active {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:2D3359; text-decoration:underline}
a.leftNavMain:hover {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:F38F38; text-decoration:underline}

a.leftNavSub:link {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:2D3359; text-decoration:underline}
a.leftNavSub:visited {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:2D3359; text-decoration:underline}
a.leftNavSub:active {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:2D3359; text-decoration:underline}
a.leftNavSub:hover {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:F38F38; text-decoration:underline}



/* Content Styles ------------------------------- */
.content {
	width:597px;
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif}

.ph {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#000000}

.topicBar {
	background-color:#999999;
	height:15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	padding:3px 5px 3px 5px}
	
tr.CalendarAlternate1 {
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding:5px 0 5px 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	background-color:#F0F0F0}

tr.CalendarAlternate2 {
	padding:5px 0 5px 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000}
	
td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;}